---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="About | Ashutosh Mishra" description="About Ashutosh Mishra">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Driving Technology, Delivering Excellence"
			>
				<img
					width="1553"
					height="873"
					src="/assets/portrait-2.jpg"
					alt="Ashutosh Mishra at work"
				/>
			</Hero>

			<section>
				<h2
					class="section-title animate__animated animate__slideInLeft"
				>
					Background
				</h2>
				<div class="content animate__animated animate__slideInUp">
					<p>
						As an independent consultant, my journey in the tech
						industry is diverse, including software development,
						infrastructure management, and leadership roles. Over
						nine years, I've amassed expertise in creating scalable
						web architectures, leading tech teams, and spearheading
						automation efforts.
					</p>
					<br />
					<p>
						My experience is broad and impactful, extending from
						<b>Co-founding</b> and <b>Heading Engineering</b> at
						<a
							href="https://www.crunchbase.com/organization/veda-labs"
							>VedaLabs</a
						>
						, where I drove the creation of innovative AI solutions,
						to designing the software for
						<a href="https://eulermotors.com">Euler Motors</a>'
						first ADAS and Self Driving EV. As the technology
						advisor for
						<a href="https://bachatbaazi.com">BachatBaazi</a>, I
						took charge of redesigning and redeveloping all backend
						services from the ground up.
					</p>
					<br />
					<p>
						Throughout my career, I've shaped successful technology
						roadmaps for both startups and well-established
						businesses, utilizing my skills to achieve their tech
						aspirations. I thrive on challenges that allow me to
						leverage my technical proficiency and leadership
						capabilities.
					</p>
				</div>
			</section>
			<section>
				<h2
					class="section-title animate__animated animate__slideInLeft"
				>
					Education
				</h2>
				<div class="content animate__animated animate__slideInUp">
					<p>Computer Engineering</p>
					<p><b>Delhi Technological University</b></p>
				</div>
			</section>
			<section>
				<h2
					class="section-title animate__animated animate__slideInLeft"
				>
					Skills
				</h2>
				<div class="content animate__animated animate__slideInUp">
					<table>
						<tr>
							<td valign="top"><b>Technical</b></td>
							<td
								>AI/ML, DevOps, Kubernetes (AWS EKS, Azure AKS),
								Python Flask, PostgreSQL, Kafka, MongoDB,
								Docker, Redis, Cloud Technologies</td
							>
						</tr>
						<tr>
							<td valign="top"><b>Programming</b></td>
							<td>Python, Java, Javascript, C, C++, MATLAB</td>
						</tr>
						<tr>
							<td valign="top"><b>Management</b></td>
							<td
								>Infrastructure, Solution Architecture, Project
								Management, Client Management, Automation,
								Product Management</td
							>
						</tr>
						<tr>
							<td valign="top"><b>Soft Skills</b></td>
							<td
								>Creative Problem Solving, Interpersonal
								Communication, Stakeholder Management, Sales,
								Presentation and Documentation Skills</td
							>
						</tr>
					</table>
				</div>
			</section>
			<!-- <section>
				<h2 class="section-title"></h2>
				<div class="content animate__animated animate__slideInUp">
					<p>
						<a href="/assets/ashutosh-mishra-resume.pdf" download
							>Download Resume</a
						>
					</p>
				</div>
			</section> -->
			<section>
				<h2 class="section-title"></h2>
				<div class="content animate__animated animate__slideInUp">
					<p>
						<b>Credits: &nbsp;</b>
						<a
							href="https://www.freepik.com/free-vector/web-development-programmer-engineering-coding-website-augmented-reality-interface-screens-developer-project-engineer-programming-software-application-design-cartoon-illustration_10798281.htm#query=software%20developer&position=1&from_view=search&track=robertav1_2_sidr"
							>Image by upklyak</a
						> on Freepik
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	td {
		padding: 0.5rem 2rem 0 0;
		valign: top;
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
		transition: transform var(--theme-transition);
	}

	.content {
		grid-column: 2 / 4;
		transition: transform var(--theme-transition);
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
